
<!-- extends from base layout -->
{% extends "base.html" %}

{% block content %}
<br>
<p>
<h3>Example Dashboard</h3>
</p>


<div class="jumbotron">
 <p class="lead"></p>

<h3>Learning Curve from latest training</h3>
<br>
<form action="running" method="post">
  <input class="btn btn-default" type="submit" value="Re-create">
</form>
</div>


<div class="jumbotron">
 <p class="lead"></p>

<h3>Performance drift visualization</h3>
<br>
<form action="running" method="post">
  <input class="btn btn-default" type="submit" value="Re-create">
</form>
</div>



<div class="jumbotron">
 <p class="lead"></p>

<h3>Predict function</h3>
<br>
<form action="#" metod = "POST">
  <label for="predict">Choose country for prediction:</label>
  <select id="country" name="country">
    <option value="all">all</option>
    <option value="eire">Eire</option>
    <option value="france">France</option>
    <option value="hong_kong">Hong Kong</option>
   <option value="germany">Germany</option>
    <option value="netherlands">Netherlands</option>
    <option value="norway">Norway</option>
    <option value="portugal">Portugal</option>
<option value="singapore">Singapore</option>
    <option value="Spain">Spain</option>
<option value="united_kingdom">United Kingdom</option>
    <option value="portugal">Portugal</option>
  </select>
  <input type="submit" value="Submit">
</form>
</div>




{% endblock %}
